.screen-instructions-h1 {
  margin-top: 0;
  margin-bottom: 0.4em;
}

.screen-instructions-counter {
  font-size: 1.2em;
  font-style: oblique;
  margin-bottom: 0.1em;
}

.screen-instructions {
  list-style: decimal;
  list-style-type: decimal;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.screen-instructions li {
  font-size: 1.4em;
}
.screen-instructions li::marker {
  font-weight: bold;
}
.screen-tables-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.screen-tables-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.1em;
  justify-content: center;
  margin-top: 1.4em;
}

.screen-table-card {
  min-width: 10em;
  min-height: 2em;
  border-radius: 1em;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.1);
  padding: 0.8em 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border: 2px solid #e0e0e0;
}

.screen-table-title {
  font-weight: 700;
  font-size: 1em;
  margin-bottom: 8px;
}

.screen-table-id {
  font-size: 0.7em;
  color: #888;
  margin-bottom: 4px;
}

.screen-table-status {
  font-size: 0.7em;
  margin-bottom: 4px;
}

.screen-table-clients {
  font-size: 0.7em;
  color: #555;
}

.status-green {
  color: #218838;
  font-weight: bold;
}

.status-yellow {
  color: #b89e0b;
  font-weight: bold;
}

.status-red {
  color: #b8420b;
  font-weight: bold;
}
